@media screen and (max-width:900px) {
    .content{
        width:calc(90%/2)
    }
    .footer-wrapper{
        display:run-in;
    }
    .footer-left,
    .footer-right{
        width:100%;
    }
}

@media screen and (min-width:2000px){

}